<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Revelation</string>
	<key>uuid</key>
	<string>AD3C466B-332B-4EC6-BBFF-B3FBB3302EFF</string>
</dict>
</plist>
